*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */
body{
  font-family: 'Montserrat', sans-serif;
}
/* testo e titoli #929292
testo della navigazione #85858 */

/* CONTENITORE*/
.container{
  width: 60%;
  margin: 5px auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
/* /CONTENITORE */

/* INTESTAZIONE*/
.head{
  color: #9b9b9b;
  font-weight: 500;
}

/* LOGO */
header > img {
  height: 50px;
  padding-right: 10px;
  border-right: 1px solid #9b9b9b;
}
/* /LOGO */

/* NAV */
.head li{
  display: inline-block;
  margin: 10px 10px 0 0;
}
/* /NAV */



/* /INTESTAZIONE*/

/* SEZIONE 1 */
.empty{
  height: 300px;
  background-color: yellow;
  margin: 20px 0;
}
/* /SEZIONE 1 */

/* SEZIONE 2 */
.full{
  background-color: blue;
}

.full > div{
  background-color: lightblue;
  float: left;
  margin-bottom: 10px;
}

.full-head{
  height: 30px;
  width: 100%;
}

.full-left, .full-right{
  width: 20%;
  height: 300px;
}

.full-center{
  width: calc(60% - 20px);
  height: 300px;
  margin: 0 10px;
}
/* /SEZIONE 2 */

/* FOOTER */
.foot{
  height: 25px;
  background-color: purple;
  margin-top: 5px;
}
/* /FOOTER */
