*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET */

body{
  font-family: 'Montserrat', sans-serif;
}

p, nav{
  font-size: 13px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.overlay{
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* /BODY e Proprietà fisse */

/* CONTENITORE*/
.container{
  width: 60%;
  margin: 5px auto;
}
/* /CONTENITORE */

/* INTESTAZIONE*/
/* LOGO */
header > img {
  height: 50px;
  padding-right: 10px;
  border-right: 1px solid #9b9b9b;
}
/* /LOGO */

/* NAV */
.head li, .head a{
  display: inline-block;
}

.head a {
  margin: 10px 5px 0 0;
  color: #9b9b9b;
  font-weight: 500;
  text-decoration: none;
}
/* /NAV */

/* HERO */
.hero{
  position: relative;
  margin: 20px 0;
}

.hero, .hero > img, .overlay.hero{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.hero > img{
  position: absolute;
  object-fit: cover;
}

.hero-text {
  width: 50%;
  color: #fff;
  margin: 30px 20px;
  position: absolute;
  bottom: 0;
}

/* /HERO */

/* /INTESTAZIONE*/

/* CORPO */
.main-block > div{
  float: left;
  margin-bottom: 20px;
}

.block-head{
  width: 100%;
  margin: 10px 0;
}

.block-left, .block-right{
  width: 20%;
}

.block-center{
  width: calc(60% - 20px);
  margin: 0 10px;
}

.block-img{
  object-fit: cover;
  width: 100%;
}

.block-center, .block-left, .block-right{
  position: relative;
}

.block-img, .overlay.center, .overlay.lateral{
  height: 150px;
  border-radius: 10px;
}

.block-text, .block-head > h5 {
  color: #929292;
}

.block-text > h4{
  color: #000;
}
/* /CORPO */

/* FOOTER */
.foot{
  height: 25px;
  margin: 5px 0;
  text-align: center;
  font-weight: 500;
}

#heart{
  color: red;
  font-size: 20px;
}
/* /FOOTER */
